services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: lab3_pr_app
    ports:
      - "8080:8080"
    restart: unless-stopped
    environment:
      - PORT=8080
      - BOARD_FILE=boards/ab.txt